* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100%;
    width: 100%;
    padding-block: 20px;
    background-color: #057088;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    overflow-x: hidden;
    overflow-y: auto;
}

.header {
    width: 80%;
    height: 200px;
    padding-block: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

img[src] {
    width: 150px;
}

h2 {
    font-size: 2rem;
    color: white;
}


form {
    width: 60%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

input[type="text"] {

    width: 100%;
    padding: 10px;
    border: none;
    font-size: 1rem;
    border-radius: 10px;
}

input:focus {
    outline: none;
}

button {
    padding: 10px;
    background-color: rgb(255, 255, 255);
    font-size: 1rem;
    color: black;
    border: none;
    border-radius: 10px;
    width: 40%;
    background-color: gold;
}

.boxContainer {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;

}

.box {
    height: 40px;
    min-width: 200px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 700px) {

    form {
        width: 100%;
    }

    input {
        width: 100%;
    }

    button {
        width: 50%;
        background-color: gold;
    }

    .boxContainer {
        flex-direction: column;
    }
}